.styles_wrapper__1kG3C {
    background-color: #2a3950 !important;
}

.styles_gridItem__nPXhF figcaption {
    padding: 0 !important;
}

.styles_gridItem__nPXhF figure > div > img {
    opacity: 1 !important;
}

.styles_grid__1mw-l {
    max-width: 100% !important;
}
