.styles_wrapper__1kG3C {
    background-color: #2a3950;
}

.styles_gridItem__nPXhF figcaption {
    padding: 0;
}

.styles_gridItem__nPXhF figure > div > img {
    opacity: 1;
}

.styles_grid__1mw-l {
    max-width: 100%;
}
